@model EventFormModel

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form id="eventForm" asp-page-handler="Create" method="post">

            <h3>Място на събитието</h3>

            <div class="form-group">
                <select asp-for="SelectedPlaceId" id="placeSelect">
                    <option value="">Изберете място</option>
                    @foreach (var location in Model.Places)
                    {
                        <option value="@location.Id">@location.Name</option>
                    }
                    <option value="newPlace">Добавете ново място</option>
                </select>

            </div>

            <div class="form-group">
                <label asp-for="Name">Заглавие</label>
                <input asp-for="Name" class="form-control" placeholder="Наименование на събитието">
                <span asp-validation-for="Name" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate">Начална дата</label>
                <input asp-for="StartDate" class="form-control" placeholder="Дата и час на събитието">
                <span asp-validation-for="StartDate" class="small text-danger"></span>
            </div>
            <div class="custom-control custom-checkbox">
              <input asp-for="IsPublic" type="checkbox" class="custom-control-input" id="customCheck1">
              <label class="custom-control-label" asp-for="IsPublic">Мястото е публично</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input asp-for="IsVisible" type="checkbox" class="custom-control-input" id="customCheck1">
              <label class="custom-control-label" asp-for="IsVisible">Мястото е видимо</label>
            </div>

            <label for="customRange2" class="form-label">Минимален рейтинг на потребителя:   <span id="ratingValue" style="margin-left: 5px;">1</span></label>
            <input asp-for="MinRatingRequired" type="range" class="form-range" min="1" max="7" id="customRange2">


            <div class="form-group">
                <label asp-for="ParticipantsMaxCount">Максимален брой на участниците</label>
                <input asp-for="ParticipantsMaxCount" class="form-control" placeholder="Въведете брой">
                <span asp-validation-for="ParticipantsMaxCount" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinAgeRequired">Минимална възраст на участниците</label>
                <input asp-for="MinAgeRequired" class="form-control" placeholder="Въведете години">
                <span asp-validation-for="MinAgeRequired" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description">Описание на събитието</label>
                <textarea asp-for="Description" rows="4" class="form-control" placeholder="Въведете текст"></textarea>
                <span asp-validation-for="Description" class="small text-danger"></span>
            </div>
                    <label>Типове на събитие:</label>
                    <br />
                        @foreach (var eventType in Model.Types)
                        {
                        <input type="checkbox" name="SelectedTypes" value="@eventType.Id" /> @eventType.Name <br />
                        }
                    <span id="typesError" class="small text-danger" style="display: none;">Изберете поне един тип на събитие.</span>
                    <input class="btn btn-primary mt-3" type="submit" value="Запази" />


      </form>
    </div>
</div>

@section Scripts {
            <partial name="_ValidationScriptsPartial" />
}


    <script>
        document.getElementById('placeSelect').addEventListener('change', function () {
            var selectedValue = this.value;
            if (selectedValue === 'newPlace') {
                window.location.href = '@Url.Action("Add", "Place")';
            }
        });
    </script>

<script>
    document.getElementById('eventForm').addEventListener('submit', function (event) {
        var checkboxes = document.getElementsByName('SelectedTypes');
        var isChecked = false;
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                isChecked = true;
                break;
            }
        }
        if (!isChecked) {
            event.preventDefault(); 
            document.getElementById('typesError').style.display = 'block'; 
        }
    });
</script>

<script>
    var rangeInput = document.getElementById('customRange2');
    var ratingValue = document.getElementById('ratingValue');

    function updateValue() {
        ratingValue.innerText = rangeInput.value;
    }

    updateValue();

    rangeInput.addEventListener('input', updateValue);
</script>