@model IEnumerable<EventViewModel>

@{
    ViewBag.Title = "Event Details";
}

@foreach (var mdl in Model.Where(m => m.IsVisible == true && m.IsFinished == false && m.IsDeleted == false))
{
    <div class="card text-center">
    <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
        <a class="nav-link active" aria-current="true" href="#">Събитие</a>
        </li>
        <li class="nav-item">
            <a asp-controller="Place" asp-action="Details"  asp-route-id=@mdl.Place.Id class="nav-link">Място</a>
        </li>
        <li class="nav-item">
        <a class="nav-link disabled" aria-disabled="true">Снимки???</a>
        </li>
    </ul>
    </div>
    <div class="card-body">
    <h5 class="card-title">@mdl.Name</h5>
    <p class="card-text">
            <p><strong>Старт:</strong> @mdl.StartDate</p>
            <p><strong>Място:</strong> @mdl.Place.Name</p>
            <p><strong>Тип на събитието:</strong> @mdl.TypesToShow</p>
            <p><strong>Организатор:</strong> @mdl.Organizer</p>
            <p><strong>Минимален необходим рейтинг:</strong> @mdl.MinRatingToShow</p>
            <p><strong>Брой на участниците:</strong> @mdl.Participants.Count() / @mdl.ParticipantsMaxCountToShow</p>
            <p><strong>Минимална възраст на участниците:</strong> @mdl.MinAgeRequiredToShow</p>
            <p><strong>Описание:</strong> @mdl.Description</p>
    </p>
     <a asp-controller="Event" asp-action="Details" asp-route-id="@mdl.Id" class="btn btn-primary">Детайли</a>
     <a asp-controller="Event" asp-action="Participate" asp-route-id="@mdl.Id" asp-route-userId = "@User.Id()" class="btn btn-primary" method="post">Лактирай</a>
    </div>
    </div>

}

