@model EventViewModel
@inject IEventService eventService


<div class="card text-center">
    <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
        <a asp-controller="Event" asp-action="Details" asp-route-id=@Model.Id class="nav-link">Събитие</a>
        </li>
        <li class="nav-item">
            <a asp-controller="Event" asp-action="Participants" asp-route-id=@Model.Id class="nav-link">Участници</a>
        </li>
        <li class="nav-item">
            <a asp-controller="Comment" asp-action="All" asp-route-id=@Model.Id class="nav-link">Коментари</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="true" href="#">Снимки</a>
        </li>
        <li class="nav-item">
            <a asp-controller="Place" asp-action="Details" asp-route-id=@Model.Place.Id class="nav-link">Място</a>
        </li>
    </ul>
    </div>
<!-- Carousel wrapper -->
        <div class="card border-success mb-4" style="max-width: 54rem;">
        <div class="card-header bg-transparent border-success">Име на мястото: @Model.Name</div>
            <div class = "row justify-content-center">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    @for (int i = 0; i < Model.ImagesToShow.Count; i++)
                    {
                        var image = Model.ImagesToShow[i];
                        <div class="carousel-item @(i == 0 ? "active" : string.Empty)">
                            <img class="d-block w-100" style="height:500px"
                                        src="@image" alt="@image">
                        </div>

                    }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
            </div>
<!-- Carousel wrapper -->

<br />

@if (await eventService.CheckIfUserIsAlreadyInEvent(Model.Id, User.Id()))
{
        <form enctype="multipart/form-data" asp-controller="Image" asp-action="AddImagesToEvent" method="post">
    <div class="form-group">
        <label asp-for="Files">Добавете снимки</label>
        <input asp-for="Files" type="file" class="form-control-file" id="exampleFormControlFile1" multiple>
    </div>
    <div class="text-center">
        <input asp-controller="Image" asp-action="AddImagesToEvent" asp-route-id="@Model.Id" class="btn btn-primary mt-3"  type="submit" value="Запази" />
    </div>
        </form>

    <br />

     <a asp-controller="Image" asp-action="DeleteImages" asp-route-id="@Model.Id" asp-route-entityType="Event" class="btn btn-outline-danger mb-2 w-75 p-3 fw-bold">Изтрий снимки</a>
}

